<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row center">
      <span><img src="/img/omniset-io-logo.svg" class="omnicon"/></span>
    </div>
    <div class="row center">
      <span class="white-text center text-lighten-4 mt10">© 2018 Omniset.io Inspired</span>
    </div>
  </div>
</footer>